{% load static %}
<!-- catagory section -->

  <section class="catagory_section layout_padding">
    <div class="catagory_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
              {{ section.heading}}
          </h2>
          <p>
              {{section.subheading}}          </p>
        </div>
        <div class="row">
            {% for category in categories  %}
          <div class="col-sm-6 col-md-4 ">
            <div class="box ">
              <div class="img-box">
                {% if category.icon %}
                    <img src="{{ category.icon.url }}" alt="{{ category.name }}">
                {% else %}
                    <img src="{% static 'default_category.png' %}" alt="Default category">
                {% endif %}
              </div>
              <div class="detail-box">
                <h5>
                    {{ category.name }}
                </h5>
                <p>
                    {{ category.title}}
                </p>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <!-- end catagory section -->