{% extends 'include/base.html' %}
{% load static %}
{% block body %}
  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ">
          <div class="heading_container ">
            <h2 class="">
              Contact Us
            </h2>
          </div>
        {% if messages %}
            {% for message in messages %}
                <p>
                {{ message }}
                </p>
            {% endfor %}
        {% endif %}
         {% if form.errors %}
                {% for key,value in form.errors.items %}
                    <span style="color: red;">{{ key }}: {{ value }}
                    {{ error }}
                    </span>
                {% endfor %}
            {% endif %}
          <form method="POST">
          {% csrf_token %}
              {% for field in form %}
            <div>
              {{ field }}
            </div>
              {% endfor %}
            <div class="btn-box">
              <button>
                SEND
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'front/images/contact-img.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->


{% endblock %}